	<h2 class="title is-4">All Recipes</h2>

	<%= render partial: 'most_recent', locals: {recipes: @recipes} %>

	<div style="margin-top: 2rem">
		<ul>
			<% recipes.each do |recipe| %>
				<li><%= link_to recipe.name, recipe_path(recipe) %></li>
			<% end %>
		</ul>
	</div>