<h2 class="subtitle is-4"><%= @user.email %></h2>

<p>Account created on <%= @user.created_on %>.</p>

<h3 class="subtitle is-5"><%= @user.email %>'s recipes:</h3>

<ul>
  <% @user.recipes.each do |recipe| %>
    <li><%= link_to recipe.name, recipe_path(recipe) %><br></li>
</ul>

  <% end %>
