<h1>All Ingredients</h1>

<ul>
	<% @ingredients.each do |ing| %>
		<li><button class='js-button' data-id="<%= ing.id %>"><%= ing.name %></button></li>
	<% end %>
</ul>

<script type="text/javascript">

</script>
