<nav class="navbar 
  <%= "is-primary" if user_signed_in? %>
  ">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <h1 class="title is-3">Recipe Box</h1>
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <% if user_signed_in? %>
  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/recipes">
        Recipes
      </a>
      <a class="navbar-item" href="/ingredients">
          Ingredients
      </a>
      <a class="navbar-item" href="/users">
          Users
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">  
        <%= link_to 'Create a new recipe', new_user_recipe_path(current_user) %>
      </div>
      <div class="navbar-item">  
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      </div>
    </div>
    <% end %>
  </div>
</nav>